.image1 {
    position: absolute;
    width: 30;
    height: 30;
    top: 8%;
    left: 5%;
    margin-top: -50px;
    margin-left: -50px;
    background-color: #10d3d3;
  
    animation: rotate 0.001s linear infinite;
  }
  
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }