.mytree {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #f8f7f7;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(14, 106, 219);
  }
  .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
  }
  
  .node text { font: 16px sans-serif; }
  
  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
  }